@media only screen and (min-width:38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 24px 1fr auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        justify-self: end;
        padding: .5rem;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
    }

    .navigation a {
        border: none;
    }

    .home-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    #members.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

#members.list-view {
    display: block;
}

#members.list-view .member-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

}