/*****Header*****/
header{
    background-color: #eee;
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: #3D405B;
}

/********Hamburger*******/
.hamburger{
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
    font-size: 1.6rem;
}

.hamburger.show::before{
    content: "\00D7";
}

/********Navigation*******/
.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current{
    background-color:#eee;
}

.navigation a:hover{
    background-color: sandybrown;
}

h1{
    margin-left: 10px;
    color: #3D405B;
}

/********footer*******/
footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.socials{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.socials img{
    width: 22px;
    height: 22px;
}

.socials a:hover{
    background-color: #ddd;
}

section{
    padding: 1rem 10px;
}

.aboutme{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #eee;
}

.aboutme img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/********course*******/
.filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
}
#course-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course {
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.completed {
    background-color: #3D405B;
    color: white;
}

.incomplete {
    background-color: sandybrown;
    color: white;
}

.filters button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}